@font-face {
  font-family: "triforce";
  src: url('../css/font/Triforce.ttf');
}

@font-face {
  font-family: "RetGanon";
  src: url('../css/font/RetGanon.ttf');
}

body {
  background-color: #62A238;
  font-family: "Triforce", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.gameOptionRules {
  font-family: "RetGanon";
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gameOptionRules p{
  font-size: 20px
}

.gameOptionRules h2{
  font-size: 30px
}

.gameOptionRules h3{
  font-size: 25px
}

#gameOption,
#gameRules {
  background-color: rgba(238, 201, 101, 0.575);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 600px;
  margin: 20px;
  text-align: center;
}

#gameOption p{
margin:0px
}

ul {
  list-style-type:none;
  line-height: 2;
  text-align: left;
  font-size: 20px;
}

li:before {
  content: url("../image/sword_decorator.png");
  padding-right: 10px;
  display: inline-block;
}

li:hover:before {
  transform: rotate(360000deg);
  transition: 300s;
}

.slidecontainer {
  align-self: center;
  width: 80%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

#player0Heal,
#player1Heal {
  font-family: "RetGanon";
  color: red;
  font-Size: 44px;
  margin-top: 25px;
  margin-left: 10px;
  animation: neon 1.5s ease-in-out infinite alternate;
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgba(255, 17, 120, 0.664), 0 0 35px rgba(255, 17, 120, 0.664), 0 0 40px rgba(255, 17, 120, 0.664), 0 0 50px rgba(255, 17, 120, 0.664), 0 0 75px rgba(255, 17, 120, 0.664);
  }

  to {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px rgba(255, 17, 120, 0.664), 0 0 10px rgba(255, 17, 120, 0.664), 0 0 12px rgba(255, 17, 120, 0.664), 0 0 14px rgba(255, 17, 120, 0.664), 0 0 16px rgba(255, 17, 120, 0.664);
  }
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgba(255, 17, 120, 0.664), 0 0 35px rgba(255, 17, 120, 0.664), 0 0 40px rgba(255, 17, 120, 0.664), 0 0 50px rgba(255, 17, 120, 0.664), 0 0 75px rgba(255, 17, 120, 0.664);
  }

  to {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px rgba(255, 17, 120, 0.664), 0 0 10px rgba(255, 17, 120, 0.664), 0 0 12px rgba(255, 17, 120, 0.664), 0 0 14px rgba(255, 17, 120, 0.664), 0 0 16px rgba(255, 17, 120, 0.664);
  }
}

@-moz-keyframes neon {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgba(255, 17, 120, 0.664), 0 0 35px rgba(255, 17, 120, 0.664), 0 0 40px rgba(255, 17, 120, 0.664), 0 0 50px rgba(255, 17, 120, 0.664), 0 0 75px rgba(255, 17, 120, 0.664);
  }

  to {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px rgba(255, 17, 120, 0.664), 0 0 10px rgba(255, 17, 120, 0.664), 0 0 12px rgba(255, 17, 120, 0.664), 0 0 14px rgba(255, 17, 120, 0.664), 0 0 16px rgba(255, 17, 120, 0.664);
  }
}


#player0HealStat2,
#player1HealStat2 {
  font-family: "Triforce";
  margin-top: -28px;
  margin-left: 110px;
}

.weaponStat,
.healStat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#player0Weapon,
#player1Weapon {
  font-family: "Triforce";
  color: rgb(13, 13, 26);
  text-shadow: 1px 1px 5px whitesmoke;
  font-Size: 35px;
  margin-top: 25px;
  margin-left: 10px;
}

.Peasant_Sword {
  height: 50px;
  width: 50px;
  background-image: url("../image/Peasant_Sword.png");
}

.Sword_Of_Wind {
  height: 50px;
  width: 50px;
  background-image: url("../image/Sword_Of_Wind.png");
}

.Sword_Of_Fire {
  height: 50px;
  width: 50px;
  background-image: url("../image/Sword_Of_Fire.png");
}

.Sword_Of_Thunder {
  height: 50px;
  width: 50px;
  background-image: url("../image/Sword_Of_Thunder.png");
}

.Magic_Wand {
  height: 50px;
  width: 50px;
  background-image: url("../image/Magic_Wand.png");
}

.Bow_Of_Light {
  height: 50px;
  width: 50px;
  background-image: url("../image/Bow_Of_Light.png");
}

.Iron_Hammer {
  height: 50px;
  width: 50px;
  background-image: url("../image/Iron_Hammer.png");

}

.imageRotate {
  animation: rotation 3s infinite linear;
  -webkit-animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: black;
  color: whitesmoke;
  position: relative;
}

header h1 {
  font-size: 68px;
  font-weight: 800;
  background: -webkit-linear-gradient(70deg, #FFFF00 20%, #EEC965 40%, white 50%, #EEC965 60%, #FFFF00 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

header p {
  font-size: 28px;
  background: -webkit-linear-gradient(90deg, #EEC965 35%, white 50%, #EEC965 65%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -10px;
}

header h3 {
  background: -webkit-linear-gradient(90deg, #EEC965 25%, white 50%, #EEC965 75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 100;
  margin-top: -5px;
}

header::after {
  background: url(../image/hyrule_rule.png) bottom center;
  height: 86px;
  width: 100%;
  position: absolute;
  bottom: -44px;
  left: 0;
  content: "";
  margin-top: 100%;
  margin-top: 43px;
  z-index: 2;
}

main {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  background-image: url("../image/background2.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

footer::after {
  content: "";
  height: 1px;
  background: linear-gradient(to right, #000 0%, #EEC965 50%, #000 100%);
  position: absolute;
  left: 0;
  width: 100%;
}

footer {
  background-color: black;
  color: whitesmoke;
  text-align: center;
}

#navi {
  background-image: url("../image/navi.gif");
}

.interface {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boardAndPlayersInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.playersInfo {
  font-family: "RetGanon";
  font-weight: bolder;
  padding-left: 40px;
  display: flex;
  flex: 4 auto;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bold;
  text-shadow: 2px 2px 6px white;
}

.playersInfo h3 {
  font-size: 32px;
  line-height: 0px;
  margin-bottom: 18px;
}

.playersInfo p {
  font-size: 25px;
  line-height: 0%;
}

.player {
  display: flex;
  flex-direction: row;
}

.playerStat {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}

.naviChat {
  display: flex;
  flex: 1 auto;
  flex-direction: row;
  justify-content: left;
}

#chatText {
  font-family: "RetGanon";
  font-Size: 25px;
  justify-content: center;
}

#canvas {
  background: #567d46;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px;
  justify-content: center;
  flex-shrink: 0;
}

#stanceButton {
  display: flex;
  justify-content: space-around;
}

button {
  text-align: center;
  margin: center;
  line-height: 40px;
  font-weight: bold;
  padding: 0 40px;
  background: #67E6EC;
  border: 1px solid black;
}

button:hover {
  background: #38B0DE;
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
    moz-transform: rotateY(0deg);
    ms-transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
    moz-transform: rotateY(360deg);
    ms-transform: rotateY(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(360deg);
  }
}

.imageSpin {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  -webkit-animation-name: spin;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
  -webkit-box-shadow: 11px 13px 21px -7px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 11px 13px 21px -7px rgba(0, 0, 0, 0.61);
  box-shadow: 11px 13px 21px -7px rgba(0, 0, 0, 0.61)
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
    moz-transform: rotateY(0deg);
    ms-transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
    moz-transform: rotateY(360deg);
    ms-transform: rotateY(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(360deg);
  }
}

.vibrate:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.speech-bubble {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(8, 14, 32, 0.8);
  box-shadow: 0 0 16px 12px rgba(8, 14, 32, 0.8);
  border-radius: 16px;
  color: #fff;
  padding: 2px;
  width: 542px;
  height: 100px;
  margin: 20px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 50px;
}

#square {
  margin: 0 auto;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background: linear-gradient(359deg, #e72dbfa1, #1aceeea2);
  background-size: 400% 400%;
  -webkit-box-shadow: 11px 13px 10px -4px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 11px 13px 10px -4px rgba(0, 0, 0, 0.61);
  box-shadow: 11px 13px 10px -4px rgba(0, 0, 0, 0.61);

  -webkit-animation: gradientSquare 4s ease infinite;
  -moz-animation: gradientSquare 4s ease infinite;
  animation: gradientSquare 4s ease infinite;
}


@-webkit-keyframes gradientSquare {
  0% {
    background-position: 0% 5%
  }

  50% {
    background-position: 100% 96%
  }

  100% {
    background-position: 0% 5%
  }
}

@-moz-keyframes gradientSquare {
  0% {
    background-position: 0% 5%
  }

  50% {
    background-position: 100% 96%
  }

  100% {
    background-position: 0% 5%
  }
}

@keyframes gradientSquare {
  0% {
    background-position: 0% 5%
  }

  50% {
    background-position: 100% 96%
  }

  100% {
    background-position: 0% 5%
  }
}