body {
  background-image: url("../image/backgroundLink.png");
  background-color: #62A238;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.interface {
  display: flex; /* or inline-flex */
  flex-direction: column;
}

.title {
  display: flex; /* or inline-flex */
  flex-direction: row;
}

.boardAndPlayersInfo {
  display: flex; /* or inline-flex */
  flex-direction: row;
}

.naviChat {
  display: flex; /* or inline-flex */
  flex-direction: row;
}

#canvas{
background: #567d46;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#stanceButton{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
button {
  text-align: center;
  margin: center;
  line-height: 40px;
  font-weight: bold;
  padding: 0 40px;
  background: #67E6EC	;
  border: 1px solid black;
}

button:hover {
  background: #38B0DE	;
}