body {
  background-image: url("../image/backgroundLink.png");
  background-color: #62A238;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#canvas{
background: #567d46;
display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

button {
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: #67E6EC	;
  border: 1px solid black;
}

button:hover {
  background: #38B0DE	;
}